:root {
    --cor-principal: #0074d9;
    --cor-secundaria: #007943;
    --cor-terciaria: #b09900;
    --cor-quarternaria: #212529;
    --cor-texto-branco: #ffffff;
    --cor-texto-preto: #000000;
    --font-texto: "Mulish", sans-serif;
    --font-titulo: "Tinos", serif;
    --padding-principal: 0 100px;
    --size-h2: 6rem;
    --size-h3: 4rem;
    --size-p: 2rem;
    --espaco-texto: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;

    & body {
        font-size: 1.6rem;
        font-family: var(--font-texto);
    }
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    & h2 {
        font-family: var(--font-titulo);
        font-size: var(--size-h2);
        text-align: center;
    }
}

.quiz{
    padding: 3rem;
    border-radius: 10px;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px var(--cor-principal);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.spnQtd {
    font-size: 3rem;
    text-align: end;
}

.question {
    font-size: 3rem;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

button{
    width: 100%;
    text-align: start;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CCC;
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

.finish {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-size: 3rem;

}

.finish button {
    width: 50%;
    text-align: center;
}