:root {
    --cor-principal: #0074d9;
    --cor-secundaria: #007943;
    --cor-terciaria: #b09900;
    --cor-quarternaria: #212529;
    --cor-texto-branco: #ffffff;
    --cor-texto-preto: #000000;
    --bg-branco: #ffffff;
    --font-texto: "Mulish", sans-serif;
    --font-titulo: "Tinos", serif;
    --padding-principal: 0 100px;
    --size-h2: 6rem;
    --size-h3: 4rem;
    --size-p: 2rem;
    --espaco-texto: 3rem;

}

.darkmode:root {
    --cor-quarternaria: #ffffff;
    --cor-texto-branco: #000000;
    --cor-texto-preto: #ffffff;
    --bg-branco: #000000;
}

.darkmode{
    background-image: none;
}

.darkmode .section-4 {
    background-image: url(../images/fundo-preto.png) !important;
}

.darkmode .section-7 {
    background-image: url(../images/fundo-preto2.png) !important;
    background-size: cover;
}


.orangemode:root {
    --cor-principal: #FFA500;
    --cor-secundaria: #FFD700;
    --cor-terciaria: #7a4c00;
    --cor-quarternaria: #8d704e;
    --cor-texto-branco: #381900;
    --cor-texto-preto: #7a4c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;

    & body {
        font-size: 1.6rem;
        font-family: var(--font-texto);
        background-color: var(--bg-branco);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-titulo);
}

ul {
    list-style: none;
}


.botao {
    text-decoration: none;
    color: var(--cor-texto-branco);
    padding: 1.5rem 3rem;
    border-radius: .8rem;
    font-weight: bold;
}

.container {
    width: 100%;
    min-height: 90vh;
    padding: var(--padding-principal);
}

.section-1 {
    background-image: url(../images/enchente.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    & .logo-zaster {
        width: 15rem;
        height: auto;
    }

    & .lista-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        & a {
            font-weight: bold;
            text-decoration: none;
            color: var(--cor-texto-preto);
            transition: .6s;
        }

        a:hover {
            color: var(--cor-terciaria);
        }
    }

    & .menu-botoes-mobile {
        display: none;
    }

    & .header-botoes {
        display: flex;
        gap: 1rem;
        align-items: center;

        & button {
            cursor: pointer;
            background: none;
            border: none;

            & img {
                width: 50%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.menu-hamburguer {
    display: none;
}

.conteudo-section-1 {
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    & h2 {
        font-size: var(--size-h2);
        text-align: center;
        color: var(--cor-texto-preto);
        font-weight: bold;
    }

    & p {
        font-size: var(--size-p);
        text-align: center;
        color: var(--cor-texto-preto);
        line-height: var(--espaco-texto);
        font-weight: 400;
        text-wrap: balance;
    }

    & .conteudo-section-1-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & .saiba-mais {
            background-color: var(--cor-secundaria);
            transition: .6s;
        }

        & .saiba-mais:hover {
            background-color: var(--cor-terciaria);
        }

        & .baixar-app {
            background-color: var(--cor-principal);
        }
    }
}


.section-2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 7rem 0;
    gap: 5rem;

    & h2 {
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        text-align: center;
        font-weight: bold;
    }

    & p {
        font-size: var(--size-p);
        color: var(--cor-texto-preto);
        text-align: center;
        text-wrap: balance;
        width: 100%;
        line-height: var(--espaco-texto);
    }

    & .cards {
        width: 90%;
        display: flex;
        justify-content: space-evenly;



        & .card-tec {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-wrap: balance;
            gap: 1.5rem;
            padding: 2rem;
            transition: .7s;

            & h3 {
                font-size: var(--size-h3);
                text-align: center;
            }

            & img {
                width: 100%;
                height: 20rem;
                object-fit: contain;
                border-radius: .8rem;
            }

            & p {
                width: 90%;
                text-align: start;
                line-height: var(--espaco-texto);

            }

            & a {
                width: 100%;
                text-decoration: none;
                color: var(--cor-texto-branco);
                padding: 1rem 2rem;
                border-radius: .8rem;
                font-weight: bold;
                text-align: center;
            }

            & a:hover {
                background-color: var(--cor-quarternaria);
            }
        }

        & .card-tec:hover {
            transform: scale(1.05);

        }

        & .card-1 {
            border: 1px dashed var(--cor-secundaria);
            border-radius: .8rem;

            & h3 {
                color: var(--cor-secundaria);
            }

            & a {
                background-color: var(--cor-secundaria);
            }
        }

        & .card-2 {
            border: 1px dashed var(--cor-principal);
            border-radius: .8rem;

            & h3 {
                color: var(--cor-principal);
            }

            & a {
                background-color: var(--cor-principal);
            }
        }

        & .card-3 {
            border: 1px dashed var(--cor-terciaria);
            border-radius: .8rem;

            & h3 {
                color: var(--cor-terciaria);
            }

            & a {
                background-color: var(--cor-terciaria);
            }
        }
    }
}

.section-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 6.5rem;


    & hr {
        width: 0.1rem;
        height: 60vh;
        background-color: var(--cor-principal);
        border: none;
    }
}

.conteudo-section-3 {
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;

    & h2 {
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        font-weight: bold;
    }

    & p {
        width: 100%;
        font-size: var(--size-p);
        color: var(--cor-texto-preto);
        text-wrap: balance;
        line-height: var(--espaco-texto);
    }
}

.antes-depois {
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & h3 {
        font-size: var(--size-h3);
        color: var(--cor-texto-preto);
        font-weight: bold;
        text-decoration: solid;
    }

    & img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: .8rem;
    }
}

.quiz{
    width: 80%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;

    & h3 {
        font-size: var(--size-h3);
        text-align: center;
        text-wrap: balance;
        color: var(--cor-texto-preto);
    }

    & a {
        width: 15%;
        height: 4rem;
        text-decoration: none;
        color: var(--cor-texto-branco);
        padding: 0 3rem;
        border-radius: .8rem;
        background-color: var(--cor-principal);
        font-weight: bold;
        transition: .5s;
    }

    & a:hover {
        background-color: var(--cor-terciaria);
    }
}

.section-4 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/fundo.png);
    background-size: cover;
}

.conteudo-section-4 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & ul {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 3rem;

        & li {
            list-style: circle;
            font-size: var(--size-p);
            text-align: left;
            line-height: var(--espaco-texto);
            color: var(--cor-texto-preto);
        }

        & li::marker {
            color: var(--cor-principal);
        }
    }
}

.texto-section-4 {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & h2 {
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        font-weight: bold;
    }

    & p {
        width: 90%;
        font-size: var(--size-p);
        color: var(--cor-texto-preto);
        line-height: var(--espaco-texto);
        text-wrap: balance;
    }
}

.section-5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10rem 0;
    gap: 7rem;

    & h2 {
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        text-align: center;
        font-weight: bold;
    }

    & .cards-beneficios {
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5rem;

        & .card-beneficio {
            width: 30%;
            height: 45vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            padding: 2rem;
            border-radius: .8rem;
            color: var(--cor-texto-branco);

            & img {

                padding: 1rem;
            }

            & h3 {
                font-size: var(--size-h3);
                color: var(--cor-texto-branco);
                font-weight: bold;
            }

            & p {
                width: 90%;
                font-size: var(--size-p);
                color: var(--cor-texto-branco);
                line-height: var(--espaco-texto);
                text-wrap: balance;
            }
        }

        & .card-beneficio:hover {
            transform: scale(1.05);
            transition: .5s;
        }
    }

    & .card-beneficio-1 {
        background-color: var(--cor-secundaria);
        box-shadow: 0 0 10px var(--cor-secundaria);
    }

    & .card-beneficio-2 {
        background-color: var(--cor-principal);
        box-shadow: 0 0 10px var(--cor-principal);
    }

    & .card-beneficio-3 {
        background-color: var(--cor-terciaria);
        box-shadow: 0 0 10px var(--cor-terciaria);
    }
}

.section-6 {
    width: 100%;
    display: flex;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;

    & img {
        width: 25%;
        height: 60vh;
        object-fit: fill;
        border-radius: .8rem;
        box-shadow: 0 0 5px var(--cor-principal);
    }


    & .texto-section-6 {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;

        & h2 {
            text-align: center;
            font-size: var(--size-h2);
            color: var(--cor-texto-preto);
            font-weight: bold;
        }


        & .p-section-6 {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;    
            font-size: var(--size-p);
            line-height: var(--espaco-texto);
            color: var(--cor-texto-preto);
        }
    }
}

.section-7 {
    background-image: url(../images/fundo-2.png);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & .conteudo-section-7 {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 4rem 0;

        & h2 {
            font-size: var(--size-h2);
            color: var(--cor-texto-preto);
            font-weight: bold;
        }

        & p {
            width: 100%;
            font-size: var(--size-p);
            color: var(--cor-texto-preto);
            line-height: var(--espaco-texto);
            text-wrap: balance;
        }
    }

    & form{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        & label {
            font-size: var(--size-p);
            color: var(--cor-texto-preto);
        }

        & input {
            color: var(--cor-texto-preto);
            width: 100%;
            height: 4rem;
            padding: 0 1rem;
            border-radius: .8rem;
            border: 1px solid var(--cor-principal);
        }

        & .form-inputs {
            width: 90%;
            display: flex;
            justify-content: space-between;

            & .form-conteudo{
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        & .form-message {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & textarea {
                width: 100%;
                height: 10rem;
                padding: 1rem;
                border-radius: .8rem;
                border: 1px solid var(--cor-principal);
                resize: none;
            }
        }

        & .form-enviar{
            width: 90%;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor-principal);
            color: var(--cor-texto-branco);
            border-radius: .8rem;
            border: none;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-quarternaria);
    color: var(--cor-texto-branco);
    gap: 2rem;
    font-weight: bold;

    & .footer-conteudo {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .footer-logo-texto {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & img {
                width: 25rem;
                height: auto;
            }

            & p {
                color: var(--cor-texto-branco);
            }
        }

        & .footer-links {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;

            & a {
                text-decoration: none;
                color: var(--cor-texto-branco);
                transition: .6s;
            }

            & a:hover {
                color: var(--cor-terciaria);
            }
        }
    }

    & hr {
        width: 80%;
        height: 0.1rem;
        background-color: var(--cor-principal);
        border: none;
    }
}

@media (max-width: 900px) {
    :root {
        --padding-principal: 0 20px;
        --size-h2: 3rem;
        --size-h3: 2rem;
        --size-p: 1.4rem;
        --espaco-texto: 2rem;
    }

    .darkmode .header .lista-menu {
        background: var(--cor-texto-branco) !important;
    }

    .darkmode .header .lista-menu a {
        color: var(--cor-texto-preto) !important;
    }

    .orangemode .section-1 p{
        background-color: var(--cor-texto-branco) !important;
        opacity: 0.9 !important;
    }

    .botao {
        padding: 1rem 2rem;
    }

    .container {
        padding: var(--padding-principal);
    }

    .header {
        padding: 0 1rem;
        position: relative;

        & .logo-zaster {
            width: 10rem;
            height: auto;
        }
    }

    .header-botoes {
        display: none !important;
    }

    .menu-botoes-mobile {
        display: flex !important;       
        gap: 1rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .menu-botoes-mobile button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
    }

    .menu-botoes-mobile img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header .lista-menu {
        position: absolute;
        top: 70%;
        right: 0px;
        background: #fff;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        width: 15rem;
        padding: 2rem 1rem;
        display: none;
    }

    .header .lista-menu.ativo {
        display: flex;
    }

    .menu-hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
    }

    .menu-hamburguer span {
        display: block;
        height: 3px;
        width: 100%;
        background: var(--cor-texto-preto);
        border-radius: 2px;
        transition: 0.3s;
    }

    .header .lista-menu {
        transition: 0.3s;
    }




    .section-1 {
        background-image: url(../images/enchente.jpg);
        background-size: cover;
        height: 100vh;
        padding: 2rem 0;
    }

    .conteudo-section-1 {
        flex-direction: column;
        width: 100% ;
        gap: 2rem ;
        align-items: center ;

        & p{
            width: 90%;
            padding: 1rem 0;
            font-size: var(--size-p);
            line-height: var(--espaco-texto);
            text-align: center;
            background-color: var(--cor-texto-branco);
            opacity: 0.6;
            border-radius: 1rem;
        }
        
    }

    .section-2 {
        margin-top: 5rem;
        flex-direction: column;
        width: 100% ;
        gap: 4rem ;
        align-items: center ;
    

        & .cards {
            flex-direction: column;
            width: 80% ;
            gap: 2rem ;
            align-items: center ;

            & .card-tec {
                width: 90% ;
                
                & img {
                    height: 15rem ;
                }

                & a{
                    width: 100% ;
                    text-align: center ;
                }
            }
        }
    }

    .section-3 {
        justify-content: center;
        flex-direction: column;
        width: 100% ;
        gap: 2rem ;
        align-items: center ;
        height: auto ;
        padding: 5rem 0;
        margin-bottom: 5rem;

        & .conteudo-section-3 {
            width: 100% ;
            height: auto ;
            justify-content: center;
            flex-direction: column;
            width: 100% ;
            gap: 2rem ;
            align-items: center ;

            & h2 {
                font-size: var(--size-h2);
                text-align: center;
            }

            & p {
                width: 80%;
                font-size: var(--size-p);
                line-height: var(--espaco-texto);
            }
        }

        hr {
            display: none;
        }

        & .antes-depois {
            width: 100% ;
            height: auto ;
            justify-content: center;
            flex-direction: column;
            width: 100% ;
            gap: 1rem ;
            align-items: center ;

            & h3 {
                font-size: var(--size-h3);
                text-align: center;
            }

            & img {
                width: 80%;
                height: 20rem;
                object-fit: cover;
                border-radius: .8rem;
            }
        }
    }

    .quiz {
        width: 90% ;
        height: auto ;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
        gap: 2rem ;

        & h3 {
            font-size: var(--size-h3);
            text-align: center;
            line-height: var(--espaco-texto);
        }

        & a {
            font-size: var(--size-p);
            width: 30% ;
            height: 5rem;
            color: var(--cor-texto-branco);
            padding: 1.5rem 3rem;
            border-radius: .8rem;
            background-color: var(--cor-principal);
            font-weight: bold;
            text-align: center;
            line-height: var(--espaco-texto);
        }
    }

    .conteudo-section-4 {
        flex-direction: column;
        width: 100% ;
        gap: 3rem ;
        align-items: center ;
        justify-content: center;

        & ul {
            list-style: decimal;
            width: 60%;
            flex-direction: column;
            align-items: center;
        }
    }

    .texto-section-4 {
        flex-direction: column;
        width: 100% ;
        gap: 2rem ;
        align-items: center ;
    }

    .section-5 {
        gap: 5rem ;
        flex-direction: column;
        align-items: center ;
        padding: 10rem 0;
    

        & .cards-beneficios{
            flex-direction: column;
            width: 100% ;
            gap: 5rem ;
            align-items: center ;

                & .card-beneficio {
                    width: 80% ;
                    height: 70%;
                    gap: 2rem ;
                }
        }
    }

    .section-6 {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 3rem 0;

        & img {
            width: 80%;
            height: 25vh;
            object-fit: cover;
            margin-bottom: 2rem;
        }

        & .texto-section-6 {
            width: 80%;
            gap: 2rem;

            & h2 {
                font-size: var(--size-h2);
            }

            & .p-section-6 {
                font-size: var(--size-p);
                gap: 1rem;
            }
        }
    }

    .section-7 {
        flex-direction: column;
        gap: 3rem;


        & .conteudo-section-7 {
            width: 90%;
            align-items: center;
            gap: 2rem 0;

            & h2 {
                font-size: var(--size-h2);
                text-align: center;
            }

            & p {
                width: 90%;
                font-size: var(--size-p);
                text-align: center;
            }
        }

        & form {
            width: 90%;
            gap: 1.5rem;

            & label {
                font-size: var(--size-p);
            }

            & input,
            & textarea {
                font-size: var(--size-p);
            }

            & .form-inputs {
                flex-direction: column;
                gap: 1rem;

                & .form-conteudo {
                    width: 100%;
                }
            }

            & .form-message {
                width: 90%;
            }

            & .form-enviar {
                width: 90%;
                font-size: var(--size-p);
            }
        }
    }

    footer {
        height: auto;
        align-items: center;
        padding: 2rem 0 0 0;

        .footer-conteudo {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;

            & .footer-logo-texto {
                align-items: center;
                gap: 1rem;

                & img {
                    width: 15rem;
                    height: auto;
                }

                & p {
                    width: 80%;
                    font-size: var(--size-p);
                    text-align: center;
                }
            }
        }

        & .footer-links {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }

        & hr {
            width: 80%;
            margin: 1rem auto 0 auto;
        }

        & p {
            font-size: var(--size-p);
            margin: 1rem 0 3rem 0;
            text-align: left;
        }
    }
    
}
@media (max-width: 900px) {
    .menu-hamburguer {
        display: flex;
    }

    .header .lista-menu {
        display: none;
    }
}