:root{
    --cor-principal: rgb(0, 116, 217);
    --cor-secundaria: rgb(0, 121, 67);
    --cor-terciaria: #b09900;
    --cor-texto-branco: #ffffff;
    --cor-texto-preto: #000000;
    --font-texto: "Mulish", sans-serif;
    --font-titulo: "Tinos", serif;
    --padding-principal: 0 100px;
    --size-h2: 6rem;
    --size-h3: 4rem;
    --size-p: 2rem;
    --espaco-texto: 2.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;

    & body{
        font-size: 1.6rem;
        font-family: var(--font-texto);
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-titulo);
}

ul{
    list-style: none;
}

.botao{
    text-decoration: none;
    color: var(--cor-texto-branco);
    padding: 1.5rem 3rem;
    border-radius: .8rem;
    font-weight: bold;
}

.container{
    width: 100%;
    min-height: 90vh;
    padding: var(--padding-principal);
}

.section-1{
    background-image: url(../images/enchente.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    & .logo-zaster{
        width: 15rem;
        height: auto;
    }

    & .lista-menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        & a{
            font-weight: bold;
            text-decoration: none;
            color: var(--cor-texto-preto);
            transition: .5s;
        }
        a:hover{
            color: var(--cor-terciaria);
        }
    }
}

.conteudo-section-1{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    & h2{
        font-size: var(--size-h2);
        text-align: center;
        color: var(--cor-texto-preto);
        font-weight: bold;
    }

    & p{
        font-size: var(--size-p);
        text-align: center;
        color: var(--cor-texto-preto);
        line-height: var(--espaco-texto);
        font-weight: 400;
        text-wrap: balance;
    }

    & .conteudo-section-1-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & .saiba-mais{
            background-color: var(--cor-secundaria);
            transition: .6s;
        }
        & .saiba-mais:hover{
            background-color: var(--cor-terciaria);
        }

        & .baixar-app{
            background-color: var(--cor-principal);
        }
    }
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & h2{
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        text-align: center;
        font-weight: bold;
    }

    & p{
        font-size: var(--size-p);
        color: var(--cor-texto-preto);
        text-align: center;
        text-wrap: balance;
        width: 100%;
        line-height: var(--espaco-texto);
    }   

    & .cards{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
        

        & .card-tec{
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-wrap: balance;
            gap: 1.5rem;
            padding: 2rem;

            & h3{
                font-size: var(--size-h3);
                text-align: center;
            }

            & img{
                width: 100%;
                height: 20rem;
                object-fit: contain;
                border-radius: .8rem;
            }

            & p{
                width: 90%;
                text-align: start;
                line-height: 2.5rem;

            }
        }

        & .card-tec:hover{
            transform: scale(1.05);
            transition: .7s;
        }

        & .card-1{
            border: 1px dashed  var(--cor-secundaria);
            border-radius: .8rem;

            & h3{
                color: var(--cor-secundaria);
            }

        }
        & .card-2{
            border: 1px dashed var(--cor-principal);
            border-radius: .8rem;

            & h3{
                color: var(--cor-principal);
            }
        }
        & .card-3{
            border: 1px dashed var(--cor-terciaria);
            border-radius: .8rem;

            & h3{
                color: var(--cor-terciaria);
            }
        }
    }
}
.section-3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;


    & hr{
        width: 2px;
        height: 45vh;
        background-color: var(--cor-principal);
        border: none;
    }

}

.conteudo-section-3{
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & h2{
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        font-weight: bold;
    }

    & p{
        width: 100%;
        font-size: var(--size-p);
        color: var(--cor-texto-preto);
        text-wrap: balance;
        line-height: var(--espaco-texto);
    }
}

.antes-depois{
    width: 40%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & h3{
        font-size: var(--size-h3);
        color: var(--cor-texto-preto);
        font-weight: bold;
        text-decoration: solid;
    }

    & img{
        width: 100%;
        height: 35vh;
        object-fit: cover;
        border-radius: .8rem;
    }
}

.section-4{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: url(../images/fundo.png);
    box-shadow: 0 0 30px var(--cor-principal);
    background-size: cover;
}

.conteudo-section-4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    & h2{
        font-size: var(--size-h2);
        color: var(--cor-texto-preto);
        text-align: center;
        font-weight: bold;
    }

    & p{
        width: 80%;
        font-size: var(--size-p);
        color: var(--cor-texto-preto);
        line-height: var(--espaco-texto);
        text-wrap: balance;
        line-height: var(--espaco-texto);
    }

    & ul{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        & li{
            font-size: var(--size-p);
            text-align: left;
            line-height: var(--espaco-texto);
        }
    }
}